Add suite of ICMPv4 Messages

## Background

[ICMP](https://en.wikipedia.org/wiki/Internet_Control_Message_Protocol) messages are used by network devices, including routers, to send error messages and operational information indicating success or failure when communicating with another IP address. Examples include errors indicating when a requested service is not available or when a host or router could not be reached. We've implemented a few ICMPv4 messages thus far in Capsule, but we'd like to include more. 

## Solution

Implement *almost*<sup>1</sup> all ICMPv4 message types in Capsule. For reference on how to handle these kinds of messages, please look at what's been implemented thus far @ https://github.com/capsule-rs/capsule/tree/master/core/src/packets/icmp/v4. 

Format information for most messages can be found in [RFC 792](https://tools.ietf.org/html/rfc792) and [RFC 1256](https://tools.ietf.org/html/rfc1256) (Sorry, no anchor links!). 

Another helpful resource is available via [IANA](https://www.iana.org/assignments/icmp-parameters/icmp-parameters.xhtml), including [RFC 2780](https://tools.ietf.org/html/rfc2780) for helpful considerations. 

### Message Types

- [X] Echo Reply
- [ ] Destination Unreachable
- [ ] Source Quench
- [ ] Redirect
- [X] Echo (Request)
- [X] Time Exceeded
- [ ] Parameter Problem
- [ ] Timestamp
- [ ] Timestamp Reply
- [ ] Information Request 
- [ ] Information Reply
- [ ] Router Advertisement ~ [RFC 1256](https://tools.ietf.org/html/rfc1256)<sup>1</sup>
- [ ]  Router Selection ~ ~ [RFC 1256](https://tools.ietf.org/html/rfc1256)<sup>1</sup>
- [ ] Extended Echo Request ~ [RFC 8335](https://tools.ietf.org/html/rfc8335#section-2)
- [ ] Extended Echo Reply ~ [RFC 8335](https://tools.ietf.org/html/rfc8335#section-3)

<sup>1</sup> Not including Mobile IP extensions here. 


Working on Destination unreachable message

Working on Redirect message

Working on Source Quench message