Extend suite of ICMPv6 Messages

## Background

[ICMP](https://en.wikipedia.org/wiki/Internet_Control_Message_Protocol) messages are used by network devices, including routers, to send error messages and operational information indicating success or failure when communicating with another IP address. Examples include errors indicating when a requested service is not available or when a host or router could not be reached. We've implemented some ICMPv6 messages thus far in Capsule, but we'd like to include more. 

## Solution

Implement *almost*<sup>1</sup> all ICMPv6 message types in Capsule. For reference on how to handle these kinds of messages, please look at what's been implemented thus far @ https://github.com/capsule-rs/capsule/tree/master/core/src/packets/icmp/v6. 

Format information for most messages can be found in [RFC 4443](https://tools.ietf.org/html/rfc4443), [RFC 4861](https://tools.ietf.org/html/rfc4861) for NDP (Neighborhood Discovery Protocol), [RFC 2710](https://tools.ietf.org/html/rfc2710) for Multicast Listener Discovery, as well as others (linked below). 

Another helpful resource is available via [IANA](https://www.iana.org/assignments/icmpv6-parameters/icmpv6-parameters.xhtml).

### Message Types

#### *Good First Issues* from [RFC 4443](https://tools.ietf.org/html/rfc4443)

- [ ] [Destination Unreachable](https://tools.ietf.org/html/rfc4443#section-3.1)
- [X] [Packet Too Big](https://github.com/capsule-rs/capsule/blob/master/core/src/packets/icmp/v6/too_big.rs)
- [X] [Time Exceeded](https://github.com/capsule-rs/capsule/blob/master/core/src/packets/icmp/v6/time_exceeded.rs)
- [ ] [Parameter Problem](https://tools.ietf.org/html/rfc4443#page-12)
- [X] [Echo Request](https://github.com/capsule-rs/capsule/blob/master/core/src/packets/icmp/v6/echo_request.rs)
- [X] [Echo Reply](https://github.com/capsule-rs/capsule/blob/master/core/src/packets/icmp/v6/echo_reply.rs)
- [X] [Router Solicitation](https://github.com/capsule-rs/capsule/blob/master/core/src/packets/icmp/v6/ndp/router_solicit.rs)
- [X] [Router Advertisement](https://github.com/capsule-rs/capsule/blob/master/core/src/packets/icmp/v6/ndp/router_advert.rs)
- [X] [Neighbor Solicitation](https://github.com/capsule-rs/capsule/blob/master/core/src/packets/icmp/v6/ndp/neighbor_solicit.rs)
- [X]  [Neighbor Advertisement](https://github.com/capsule-rs/capsule/blob/master/core/src/packets/icmp/v6/ndp/neighbor_advert.rs)
- [X] [Redirect Message](https://github.com/capsule-rs/capsule/blob/master/core/src/packets/icmp/v6/ndp/redirect.rs)

#### Others<sup>2</sup>:
- [ ] Multicast Listener Query (MLD) ~ [RFC 2710](https://tools.ietf.org/html/rfc2710)
- [ ] Multicast Listener Report (MLD) ~ [RFC 2710](https://tools.ietf.org/html/rfc2710)
- [ ] Multicast Listener Done (MLD)  ~ [RFC 2710](https://tools.ietf.org/html/rfc2710)
- [ ] Router Renumbering ~ [RFC 2894](https://tools.ietf.org/html/rfc2894)
- [ ] ICMP Node Information Query ~ [RFC 4620](https://tools.ietf.org/html/rfc4620)
- [ ] ICMP Node Information Response ~ [RFC 4620](https://tools.ietf.org/html/rfc4620)
- [ ] Inverse Neighbor Discovery Solicitation ~ [RFC 3122](https://tools.ietf.org/html/rfc3122#section-2.1)
- [ ] Inverse Neighbor Discovery Advertisement ~ [RFC 3122](https://tools.ietf.org/html/rfc3122#section-2.2)
- [ ] Extended Echo Request ~ [RFC 8335](https://tools.ietf.org/html/rfc8335#section-2)
- [ ] Extended Echo Reply ~ [RFC 8335](https://tools.ietf.org/html/rfc8335#section-3)

<sup>1</sup> Not including [Mobile IP](https://tools.ietf.org/html/rfc3775) or [Registration Extensions](https://tools.ietf.org/html/rfc8505) extensions here. 

<sup>2</sup> More NDP options is covered in another issue. 



FYI: I'm now working on the Parameter Problem message.

@plumenator awesome!