GRE Protocol Support

Add support for GRE tunnel protocol defined in [RFC2890](https://datatracker.ietf.org/doc/html/rfc2890). Additional relevant information are in [RFC2784](https://datatracker.ietf.org/doc/html/rfc2784) and [RFC7676](https://datatracker.ietf.org/doc/html/rfc7676).

```
    0 1 2 3 4 5 6 7 8 9 0 1 2 3 4 5 6 7 8 9 0 1 2 3 4 5 6 7 8 9 0 1
   +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+
   |C| |K|S| Reserved0       | Ver |         Protocol Type         |
   +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+
   |      Checksum (optional)      |       Reserved1 (Optional)    |
   +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+
   |                         Key (optional)                        |
   +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+
   |                 Sequence Number (Optional)                    |
   +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+
```

To implement `GRE`, need to add support for `IPv4` and `IPv6` encapsulation inside a tunnel protocol.

Not in scope are [PPTP GRE](https://datatracker.ietf.org/doc/html/rfc2637#section-4.1) and [GRE-in-UDP](https://datatracker.ietf.org/doc/html/rfc8086). The former is a completely different variant of GRE. The latter introduces a complexity we can defer.

After some more research, tunnels can get [pretty wild](https://developers.redhat.com/blog/2019/05/17/an-introduction-to-linux-virtual-interfaces-tunnels#summary). The solution for `GRE` should allow for all these types of tunnels to be implemented with Capsule, while not break the type system we have.